.nav {
  position: relative;
  top: 0;
  left: 0;
  padding: 0.6em 10px;
  background: #f9fdff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  z-index: 999; }
  .nav .title {
    display: block;
    text-align: center;
    font-size: 1.1em;
    font-weight: 400; }
  .nav .back {
    position: absolute;
    left: 10px;
    top: 1px;
    height: 36px;
    line-height: 36px;
    color: #03a9f4;
    cursor: pointer; }
    .nav .back i {
      font-size: 36px;
      font-weight: 500;
      padding-right: 5px; }
    .nav .back span {
      float: right;
      display: block;
      height: 36px; }
  .nav .account {
    position: absolute;
    right: 10px;
    top: 4px;
    height: 30px;
    line-height: 30px;
    color: #03a9f4;
    cursor: pointer; }
    .nav .account i {
      font-size: 30px;
      font-weight: 500;
      padding-left: 5px; }
    .nav .account span {
      float: left;
      display: block;
      height: 36px; }

footer {
  position: fixed;
  bottom: -1px;
  left: 0;
  background: #333;
  width: 100%; }
  footer .container {
    height: 32px;
    position: relative;
    margin: 0;
    list-style: none; }
    footer .container .cart {
      position: relative;
      float: left; }
      footer .container .cart .cart-count {
        position: absolute;
        top: -10px;
        left: 45px;
        width: 20px;
        height: 20px;
        font-size: 0.8em;
        background: #fe2947;
        border-radius: 20px;
        text-align: center;
        font-style: normal;
        line-height: 20px;
        color: #eee; }
      footer .container .cart i {
        position: absolute;
        top: -6px;
        left: 15px;
        color: #fff;
        background: #212121;
        border-radius: 50%;
        font-size: 30px;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 36px; }
    footer .container .total {
      position: absolute;
      left: 90px;
      color: #fff;
      height: 32px;
      line-height: 32px; }
      footer .container .total .price b {
        color: #fff; }
    footer .container .buy {
      position: absolute;
      right: 0;
      bottom: 0;
      height: 100%;
      width: 116px;
      background: #b0120a;
      color: #fff;
      border: 0; }
      footer .container .buy:disabled {
        background: #757575;
        color: #fafafa; }

.wrap {
  position: relative;
  margin: 0; }
  .wrap .genre {
    position: fixed;
    width: 25%;
    height: 100%;
    left: 0;
    top: 0;
    padding-top: 36px;
    padding-bottom: 30px;
    background: #f9fdff;
    border-bottom: 1px solid #ebedf0;
    box-shadow: 2px 0 3px 1px #eee;
    -webkit-box-shadow: 2px 0 3px 1px #eee; }
    .wrap .genre .genre-list {
      text-align: center;
      list-style: none; }
      .wrap .genre .genre-list li {
        padding: 10px 0;
        font-size: 0.9em;
        cursor: pointer; }
        .wrap .genre .genre-list li.active {
          border-left: 3px solid #fd687d;
          border-top: 1px solid #ebedf0;
          background-color: #fff; }
  .wrap .goods {
    position: absolute;
    width: 72%;
    top: 0;
    left: 28%;
    padding-bottom: 30px; }
    .wrap .goods .goods-list {
      list-style: none;
      padding-top: 10px;
      background: #f9fdff; }
      .wrap .goods .goods-list li {
        position: relative;
        height: 50px;
        margin-bottom: 10px;
        background: #fff; }
        .wrap .goods .goods-list li .list-img {
          float: left;
          height: 50px;
          width: 50px;
          background: #eee;
          margin-right: 8px; }
        .wrap .goods .goods-list li .list-content {
          position: relative; }
          .wrap .goods .goods-list li .list-content .title {
            font-size: 0.9em; }
          .wrap .goods .goods-list li .list-content .description {
            font-size: 0.8em; }
          .wrap .goods .goods-list li .list-content .price {
            font-size: 0.8em; }
          .wrap .goods .goods-list li .list-content .add {
            position: absolute;
            right: 5px;
            top: 10px; }
            .wrap .goods .goods-list li .list-content .add button {
              width: 30px;
              height: 30px;
              border-radius: 50%;
              background: #fff;
              outline: none;
              margin: 6px 2px; }
              .wrap .goods .goods-list li .list-content .add button i {
                font-size: 1.5em; }
            .wrap .goods .goods-list li .list-content .add .plus-button {
              border: 1px solid tomato; }
              .wrap .goods .goods-list li .list-content .add .plus-button i {
                color: tomato; }
            .wrap .goods .goods-list li .list-content .add .min-button {
              border: 1px solid #333; }
              .wrap .goods .goods-list li .list-content .add .min-button i {
                color: #333; }

/*# sourceMappingURL=home.css.map */
