@import 'nav.scss';
@import 'footer.scss';

.wrap {
	position: relative;
	margin: 0;
	.genre {
		position: fixed;
		width: 25%;
		height: 100%;
		left: 0;
		top: 0;
		padding-top: 36px;
		padding-bottom: 30px;
		background: #f9fdff;
		border-bottom: 1px solid #ebedf0;
		box-shadow: 2px 0 3px 1px #eee;
		-webkit-box-shadow: 2px 0 3px 1px #eee;
		.genre-list {
			text-align: center;
			list-style: none;
			li {
				padding: 10px 0;
				font-size: 0.9em;
				cursor: pointer;
			    &.active {
				    border-left: 3px solid #fd687d;
				    border-top: 1px solid #ebedf0;
				    background-color: #fff
			    }
			}
		}
	}
	.goods {
		position: absolute;
		width: 72%;
		top: 0;
		left: 28%;
		padding-bottom: 30px;
		.goods-list {
			list-style: none;
			padding-top: 10px;
			background: #f9fdff;
			li {
				position: relative;
				height: 50px;
				margin-bottom: 10px;
				background: #fff;
				.list-img {
					float: left;
					height: 50px;
					width: 50px;
					background: #eee;
					margin-right: 8px;
				}
				.list-content {
					position: relative;
					.title {
						font-size: 0.9em;
					}
					.description {
						font-size: 0.8em;
					}
					.price {
						font-size: 0.8em;
					}
					.add {
						position: absolute;
						right: 5px;
						top: 10px;
						button {
							width: 30px;
							height: 30px;
							border-radius: 50%;
							background: #fff;
							outline: none;
							margin: 6px 2px;
							i {
								font-size: 1.5em;
							}
						}
						.plus-button {
							border: 1px solid tomato;
							i {
								color: tomato;
							}
						}
						.min-button {
							border: 1px solid #333;
							i {
								color: #333;
							}
						}
					}
				}

			}
		}
	}
}
