@import 'nav.scss';
@import 'footer.scss';

.order {
	background: #eee;
	padding-bottom: 50px;
}

.order-address {
	position: relative;
	margin-bottom: 10px;
	padding: 15px;
	display: block;
    background: #fd405b;
    color: #fff;
	.info {
		span {
			font-size: 14px;
			font-weight: 100;
			margin-right: 5px;
		}
		.address span{
		    font-size: 12px;
		    margin-top: 5px;
		    margin-right: 5px
		}
	}
}
.order-label {
    color: #999;
    font-size: 14px;
    padding: 10px 0 10px 15px;
}
.order-setting {
    position: relative;
    background: #fff;
    border-top: 1px solid #dbdcde;
    ul {
    	display: block;
    	padding: 0px 15px;
	    li {
	    	list-style: none;
	    	padding: 10px 0;
			border-bottom: 1px solid #eee;
			.left {
				float: left;
			}
			.right {
				text-align: right;
				input {
					border: 0;
					border-bottom: 1px solid #eee;
					height: 26px;
					width: 120px;
					text-align: right;
					font-size: 14px;
					outline: none;
				}
		    	select {
				    color: #999;
				    font-size: 14px;
				    background: #fff;
				    outline: none;
		    	}
			}
		    .special {
		    	font-size: 12px;

		    }
		    &:nth-last-child(1){
		    	border-bottom: none;
		    }
	    }

    }

}
