.nav {
  position: relative;
  top: 0;
  left: 0;
  padding: 0.6em 10px;
  background: #f9fdff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  z-index: 999; }
  .nav .title {
    display: block;
    text-align: center;
    font-size: 1.1em;
    font-weight: 400; }
  .nav .back {
    position: absolute;
    left: 10px;
    top: 1px;
    height: 36px;
    line-height: 36px;
    color: #03a9f4;
    cursor: pointer; }
    .nav .back i {
      font-size: 36px;
      font-weight: 500;
      padding-right: 5px; }
    .nav .back span {
      float: right;
      display: block;
      height: 36px; }
  .nav .account {
    position: absolute;
    right: 10px;
    top: 4px;
    height: 30px;
    line-height: 30px;
    color: #03a9f4;
    cursor: pointer; }
    .nav .account i {
      font-size: 30px;
      font-weight: 500;
      padding-left: 5px; }
    .nav .account span {
      float: left;
      display: block;
      height: 36px; }

footer {
  position: fixed;
  bottom: -1px;
  left: 0;
  background: #333;
  width: 100%; }
  footer .container {
    height: 32px;
    position: relative;
    margin: 0;
    list-style: none; }
    footer .container .cart {
      position: relative;
      float: left; }
      footer .container .cart .cart-count {
        position: absolute;
        top: -10px;
        left: 45px;
        width: 20px;
        height: 20px;
        font-size: 0.8em;
        background: #fe2947;
        border-radius: 20px;
        text-align: center;
        font-style: normal;
        line-height: 20px;
        color: #eee; }
      footer .container .cart i {
        position: absolute;
        top: -6px;
        left: 15px;
        color: #fff;
        background: #212121;
        border-radius: 50%;
        font-size: 30px;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 36px; }
    footer .container .total {
      position: absolute;
      left: 90px;
      color: #fff;
      height: 32px;
      line-height: 32px; }
      footer .container .total .price b {
        color: #fff; }
    footer .container .buy {
      position: absolute;
      right: 0;
      bottom: 0;
      height: 100%;
      width: 116px;
      background: #b0120a;
      color: #fff;
      border: 0; }
      footer .container .buy:disabled {
        background: #757575;
        color: #fafafa; }

.order {
  background: #eee;
  padding-bottom: 50px; }

.order-address {
  position: relative;
  margin-bottom: 10px;
  padding: 15px;
  display: block;
  background: #fd405b;
  color: #fff; }
  .order-address .info span {
    font-size: 14px;
    font-weight: 100;
    margin-right: 5px; }
  .order-address .info .address span {
    font-size: 12px;
    margin-top: 5px;
    margin-right: 5px; }

.order-label {
  color: #999;
  font-size: 14px;
  padding: 10px 0 10px 15px; }

.order-setting {
  position: relative;
  background: #fff;
  border-top: 1px solid #dbdcde; }
  .order-setting ul {
    display: block;
    padding: 0px 15px; }
    .order-setting ul li {
      list-style: none;
      padding: 10px 0;
      border-bottom: 1px solid #eee; }
      .order-setting ul li .left {
        float: left; }
      .order-setting ul li .right {
        text-align: right; }
        .order-setting ul li .right input {
          border: 0;
          border-bottom: 1px solid #eee;
          height: 26px;
          width: 120px;
          text-align: right;
          font-size: 14px;
          outline: none; }
        .order-setting ul li .right select {
          color: #999;
          font-size: 14px;
          background: #fff;
          outline: none; }
      .order-setting ul li .special {
        font-size: 12px; }
      .order-setting ul li:nth-last-child(1) {
        border-bottom: none; }

/*# sourceMappingURL=order.css.map */
